
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Service Desk</h1>
                <br>
                <div class="speech-bubble">
                    <p>Hello, my name is Wesly! How can I help you today?</p>
                </div>
                <br><br>
                <div class="text-box">
                    <input type="text" id="ask-text" placeholder="Ask me for something" class="large-text-box">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
